<div class="vertical">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li class="active"><a href="#vtab1" role="tab" data-toggle="tab"><i class="fa fa-magic pr-10"></i> Very Flexible</a></li>
		<li><a href="#vtab2" role="tab" data-toggle="tab"><i class="fa fa-life-saver pr-10"></i> Top Notch 24/7 Support</a></li>
		<li><a href="#vtab3" role="tab" data-toggle="tab"><i class="fa fa-expand pr-10"></i> 100% Responsive</a></li>
		<li><a href="#vtab4" role="tab" data-toggle="tab"><i class="fa fa-file-o pr-10"></i> Well Documented</a></li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane fade in active" id="vtab1">
			<h3 class="title">Very Flexible</h3>
			<ul class="list-icons">
				<li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
				<li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
				<li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
				<li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
			<p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
			<a href="page-services.html" class="btn btn-default">Read more</a>
		</div>
		<div class="tab-pane fade" id="vtab2">
			<h3 class="title">Top Notch 24/7 Support</h3>
			<ul class="list-icons">
				<li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
				<li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
				<li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
				<li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
			<p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
			<a href="page-services.html" class="btn btn-default">Read more</a>
		</div>
		<div class="tab-pane fade" id="vtab3">
			<h3 class="title">100% Responsive</h3>
			<ul class="list-icons">
				<li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
				<li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
				<li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
				<li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
			<p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
			<a href="page-services.html" class="btn btn-default">Read more</a>
		</div>
		<div class="tab-pane fade" id="vtab4">
			<h3 class="title">Well Documented</h3>
			<ul class="list-icons">
				<li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
				<li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
				<li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
				<li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
			<p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
			<a href="page-services.html" class="btn btn-default">Read more</a>
		</div>
	</div>
</div>