<div ng-controller='userController'>
    <body>
        <aside class="grey-part">
            <p><img src="baby.png" width="50" alt="">Ishu Subedi</p>
            <a href="#/search">Search</a>
            <ul>
                <li>Messages   12</li>
                <li>Visitors    2</li>
                <li>Matcher    6</li>
                <li>Favorites  </li>
            </ul>
            <h3>Recently visited</h3>
            <!--images from databe-->
            <img src="faces.png" alt="">
        </aside>
            <main>
                <div> <!-- this will be on top by their pic-->
                    <img src="baby.png" alt="">
                    <h2>{{user.name}}</h2>
                    <p>{{user.age}}</p>
                    <p>{{user.gender}}</p>
                    <p>{{user.city}}, {{user.state}}</p>
                    <a href="#/create">Edit Profile</a>
                    <img src="details.png" alt="">
                </div>
                <div id='bio'> <!--about, photo, contact-->
                  <h1>About Me: </h1>
                  <p>{{user.bio}}</p>
                </div>
                <div id='interest' ng-show="">
                  <h1>I am interested in meeting who is interested in: </h1>
                    <p>{{user.arts}}</p>
                    <p>{{user.auto}}</p>
                    <p>{{user.dancing}}</p>
                    <p>{{user.education}}</p>
                    <p>{{user.food}}</p>
                    <p>{{user.literature}}</p>
                    <p>{{user.music}}</p>
                    <p>{{user.nature}}</p>
                    <p>{{user.out_activities}}</p>
                    <p>{{user.sports}}</p>
                    <p>{{user.technology}}</p>        
                </div>
            </main>
        <aside class="shop">
            <img src="shop.png" alt="">
        </aside>
    </body>
</div>
</html>